/* mes styles*/
.red{

    color: red;
}

html{
    /* on va rendre le scroll plus fluide*/
scroll-behavior: smooth;
background-color: #c8bed4;

}
.text-centre{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: aqua;
    border-radius: 5px;
    width: 350px;
    margin: auto;
}
/* je decide que mes liens ne soit pas surlignés*/
.footer{
    text-align: center;
    font-size: 35px;
    color: #4f00e2;
    border: 5px solid black;
    border-radius: 5px;
    background-color: #edeaf1f2;
    width: 400px;
    margin: auto;

}
a{
    text-decoration: none;
     /*la couleur de tous les liens */
    color:#c50f0f;
}
.cordoné{
    color: #242419a7;
    text-decoration: underline;
    font-family: cursive;
    font-weight: bold;
    
}
/* je decide la couleur de mes liens visités */
a:visited{
    color: green;
}
/* je choisis la couleur / comportement du lien au survol de la souris */
a:hover{
    background: orange;
    color: black;
    text-decoration: underline;
}
.dinguerie{
    color: blue;
    color: red !important;
    color: yellowgreen!important;
    color: rgb(23, 11, 23)!important;

}
.flex{
    display: flex;
    
}
.column{
    flex-direction: column;
    
    }

.pad15{
    padding: 15px;
}
